.container-courseraDownloader {
    display: grid;
    align-items: center;
}

.courseraDownloaderButton {
    padding: 5px 12px 5px 12px !important;
    min-height: 31.99px !important;
    font-size: 14px !important;
    margin-left: 6px !important;
    font-weight: 400 !important;
    color:#5e5e5e !important;
    border: 1px solid #ddd !important;
    border-radius: 2px !important;
    cursor: pointer !important;
    text-decoration: none !important;
}

.courseraDownloaderButton:hover{
    background-color: #2d62d7 !important;
    color: white !important;
}
